.security-btn {
  position: relative;
  top: 0;
  right: 0;
  min-width: 95px;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 43px;
  background: #205b8d;
}

.security-btn:hover {
  background: #05143f;
}

@media (max-width: 767px) {
  .security-btn {
    top: 4px;
    padding: 4px;
  }
}
